* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 15px;
}
html {
  font-size: 15px;
  font-family: "Helvetica", sans-serif;
  width: 100vw;
}
a {
  text-decoration: none;
}
#page-header {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}
#page-header span {
  margin: 10px 0;
}
#page-header span a {
  color: white;
  margin: 0 5px;
}
#page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 50px);
  width: 100%;
}
#page-content .sidebar {
  overflow-y: auto;
  width: 20%;
  height: calc(100vh - 50px);
  background-color: grey;
  padding: 2rem;
}
#page-content .sidebar .sidebar-items {
  margin-bottom: 0.3rem;
}
#page-content .sidebar .sidebar-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#page-content .main-content {
  overflow-y: auto;
  padding: 2rem;
  width: 80%;
}
#page-content .main-content .new-btn {
  font-size: 1.5rem;
}
#page-content .main-content .edit-btn {
  font-size: 1.5rem;
}
#page-content .main-content .delete-form {
  display: inline-block;
}
#page-content .main-content .delete-form .delete-btn {
  font-size: 1.5rem;
  color: #f00;
}
#page-content .main-content.collections-container .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page-content .main-content.collections-container .collections .collection {
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  width: 30%;
  color: #000;
}
#page-content .main-content.collections-container .collections .collection:hover {
  color: #666;
}
#page-content .main-content.collections-container .collections .collection .edit-link {
  margin-top: 0.5rem;
}
#page-content .main-content.collections-container .collections .collection .schema {
  padding-left: 0;
  list-style: none;
}
#page-content .main-content.collections-container .collections .collection .schema h3 {
  margin: 0;
}
#page-content .main-content.models-container .models {
  padding-left: 0;
  list-style: none;
}
#page-content .main-content.models-container .models .model {
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page-content .main-content.models-container .models .model:hover {
  color: #666;
}
#page-content .main-content.models-container .models .model .model-id {
  width: 5%;
}
#page-content .main-content.models-container .models .model .created-by {
  width: 25%;
}
#page-content .main-content.models-container .models .model .date-created {
  text-align: right;
  width: 35%;
  min-width: 260px;
}
#page-content .main-content.models-container .models .model .date-modified {
  text-align: right;
  width: 35%;
  min-width: 260px;
}
#page-content .main-content.users-container .users {
  padding-left: 0;
  list-style: none;
}
#page-content .main-content.users-container .users .user {
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  color: #000;
}
#page-content .main-content.users-container .users .user:hover {
  color: #666;
}
#page-content .main-content.user-container .user .subtitle {
  margin-bottom: 0.2rem;
}
#page-content .main-content.user-container .user .model-list {
  padding-left: 0;
  list-style: none;
}
#page-content .main-content.user-container .user .model-list .delete-form .delete-btn {
  font-size: 1rem;
}
#page-content .main-content.user-container .user .edit-role {
  margin-bottom: 2rem;
}
#page-content .main-content.user-container .user .delete-form .delete-btn {
  font-size: 1rem;
}
#page-content .main-content.model-container .model .field {
  margin-bottom: 2rem;
}
#page-content .main-content.model-container .model .field .field-name {
  margin-bottom: 0.5rem;
}
#page-content .main-content.model-container .model .field .field-value .checkbox-value {
  padding-left: 1.3rem;
}
#page-content .main-content.model-container .model .field .field-value .image-value {
  max-width: 500px;
  height: auto;
}
#page-content .main-content.edit-model .model-form .image-value {
  max-width: 500px;
  height: auto;
}
#page-content .main-content .login-container {
  text-align: center;
}
#page-content .main-content .login-container .login-form {
  display: inline-block;
}
.message-box {
  position: fixed;
  bottom: 0px;
  left: 20%;
  margin: 1rem 2rem;
  width: calc(80% - 4rem);
  background-color: #deffd9;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.message-box.hide {
  opacity: 0;
  pointer-events: none;
}
.message-box .msg {
  padding: 10px;
  margin: 0;
}
.message-box .msg:empty {
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
.hidden {
  display: none;
}
