#page-header {
  padding: 10px 20px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
}
#page-header a {
  color: white;
}
* {
  box-sizing: border-box;
}
#page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page-content .sidebar {
  width: 20%;
  height: calc(100vh - 50px);
  float: left;
  background-color: grey;
}
#page-content .main-content {
  margin: 1rem;
}
.right {
  float: right;
}
.center-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
