<header id="page-header">
	<a href="/admin"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>

	<a class="right" href="/admin/logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
	<a class="right" href="/admin/account"><i class="fa fa-2x fa-user" aria-hidden="true"></i></a>
</header>