<section class="sidebar">
	{{#if currentUsername}}
	<div class="sidebar-items"><a href="/admin/collections">Collections</a></div>
	{{/if}}
	{{#ifEquals "administrator" currentUserRole }}
	<div class="sidebar-items"><a href="/admin/users">Users</a></div>
	<div class="sidebar-items"><a href="/admin/config">Configurations</a></div>
	{{/ifEquals}}

	<h3 class="sidebar-title">All Collections</h3>
	{{#each schemas}}
	<div class="sidebar-items"><a href="/admin/collections/{{collectionSlug}}">{{collectionName}}</a></div>
	{{/each}}
</section>