<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>