<section class="account-container main-content">
	<h1>Account</h1>

	<form method="post" action="/admin/account" class="account" enctype="multipart/form-data">
		<p><label for="username">Username:</label> <input type="text" name="username" value="{{currentUsername}}" readonly></p>
		<p><label for="current_password">Current Password:</label> <input type="password" name="current_password"></p>
		<p><label for="new_password">New Password:</label> <input type="password" name="new_password"></p>

		<input type="submit" name="submit" value="Save">
	</form>

	<form class="delete-form" action="/admin/users/{{currentUsername}}" method="post">
		<input type="hidden" name="_method" value="delete" />
		<input class="delete-btn" type="submit" name="delete" value="Delete Account">
	</form>
</section>