<section class="main-content">
	<div class="login-container">
		<div class="login-form">
			<h1>Login</h1>
			<form method="post" action="/admin/login">
				<p>
					<input name="username" type="text" placeholder="Username"><br>
					<input name="password" type="password" placeholder="Password">
				</p>
				<p><input type="submit" value="Login"></p>
			</form>
		</div>
	</div>
</section>