<section class="models-container main-content">
	<h1>Models</h1>

	<div class="models">
		<h2>{{collectionName}}<h2>
		{{#each data}}
		{{else}}
			<p>No models created yet. Perhaps you want to click <a href="{{collectionSlug}}/new">here</a> to create a new model?</p>
		{{/each}}
	</div>
</section>