<section class="main-content">
	<div class="login-container">
		<h1>Sign Up</h1>
		<form method="post" action="/admin/signup">
			<p>
				<input name="username" type="text" placeholder="Username"><br>
				<input name="password" type="password" placeholder="Password">
			</p>
			<input type="submit" value="Sign up">
		</form>
	</div>
</section>