<section class="users-container main-content">
	<h1>Users</h1>

	<ul class="users">
	{{#each users}}
		<li class="user"><a href="/admin/users/{{username}}">Username: {{username}} Models created: {{modelsCount}} Role: </a></li>
	{{/each}}
	</ul>
</section>