<section class="users-container main-content">
	<h1>Users</h1>

	<ul class="users">
	{{#each users}}
		<a href="/admin/users/{{username}}"><li class="user card">
			<span class="flex-item username">
				Username: {{username}}
			</span>
			<span class="flex-item models-count">
				Models created: {{modelsCount}}
			</span>
			<span class="flex-item user-role">
				Role: {{role}}
			</span>
		</li></a>
	{{/each}}
	</ul>
</section>