&.collections-container{
	.collections{
		display: flex;

		.collection{
			.card(30%);

			.edit-link{
				margin-top: 0.5rem;
			}

			.schema{
				.reduced-list;

				h3{
					margin: 0;
				}
			}
		}
	}
}