.reduced-list(){
	padding-left: 0;
	list-style: none;
}

.schema-form(){
	.schema-definition{
		.collection-name-container{
			margin-bottom: 1rem;
			font-weight: bold;

			.collection-name-label{
				width: 150px;
			}
		}

		.field-subtitle{
			margin-bottom: 0.5rem;
		}

		.field-label-container{
			margin-bottom: 0.2rem;

			.field-name-label, .field-type-label{
				text-align: center;
				width: 150px;
				font-weight: bold;
			}
		}

		.field{
			margin-bottom: 0.1rem;

			.name-field, .type-field{
				width: 150px;
			}

			.choices{
				margin-top: 0.1rem;

				textarea{
					width: 300px;
					resize: vertical;
				}
			}
		}

		.expose-to-api{
			margin-top: 0.5rem;
			margin-bottom: 2rem;
		}

		.submit{
			margin-top: 1rem;
		}
	}
}

.button-background(@base){
	background: @base;
	background-image: linear-gradient(to bottom, @base, darken(@base, 10%));

	&:hover{
		background: lighten(@base, 5%);
		background-image: linear-gradient(to bottom, lighten(@base, 10%), darken(@base, 5%));
	}

	&:active{
		background: darken(@base, 10%);
		background-image: linear-gradient(to bottom, darken(@base, 10%), darken(@base, 20%));
	}
}