@import "variables.less";

// My own normalization preference
*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
}

// Custom
html{
	font-size: @base-font-size;
}

body{
	overflow: hidden;
}

a{

}

@import "header.less";

#page-content{
	display: flex;
	overflow: hidden;

	@import "sidebar.less";

	.main-content{
		overflow-y: scroll;
		padding: 2rem;

		@import "collections-list.less";
	}
}

// Heplers
.right{
	float: right;
}

.center-container{
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
}