@import "variables.less";
@import "mixins.less";

// My own normalization preference
*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
}

h1{
	font-size: @large-font-size;
}

h4{
	font-size: @medium-font-size;
}

h5{
	font-size: @base-font-size;
}

// Custom
html{
	font-size: @base-font-size;
	font-family: "Helvetica", sans-serif;
	width: 100vw;
}

a{
	text-decoration: none;
}

@import "header.less";

#page-content{
	display: flex;
	height: ~"calc(100vh - 50px)";
	width: 100%;

	@import "sidebar.less";

	.main-content{
		overflow-y: auto;
		padding: 2rem;
		width: 80%;

		.new-btn{
			font-size: @medium-font-size;
		}

		.edit-btn{
			font-size: @medium-font-size;
		}

		.delete-btn{
			font-size: @medium-font-size;
			color: @red;
		}

		@import "collections-list.less";
		@import "models-list.less";
		@import "users-list.less";
		@import "model.less";
	}
}

// Heplers
.left{
	float: left;
}

.right{
	float: right;
}

.center-container{
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
}

.hidden{
	display: none;
}