@import "header.less";

*{
	box-sizing: border-box;
}

.sidebar{
	width: 20%;
	height: 80vh;
	float: left;
}

#page-content{
}

.right{
	float: right;
}

.center-container{
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
}