&.user-container{
	.user{
		.subtitle{
			margin-bottom: 0.2rem;
		}

		.model-list{
			.reduced-list;

			.user-model{
				display: flex;

				.model-name{
					display: flex;
					line-height: 1.9rem;
					flex-grow: 2;

					span{
						width: 40%;
					}
				}

				.button{
					transform: translateY(0);
				}

				.delete-form .delete-btn{
					font-size: 1rem;
					transform: translateY(0);
					margin-left: 0.5rem;
				}
			}
		}

		.edit-role{
			margin-bottom: 2rem;

			.user-role{
				width: 150px;
			}
		}

		.delete-form{
			.delete-btn{
				font-size: 1rem;
			}
		}
	}
}