<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Untitled</title>

<!-- for Google -->
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="Kenneth Lim" />
<meta name="copyright" content="Kenneth Lim" />
<meta name="application-name" content="" />

<!-- for Facebook -->
<meta property="og:title" content="" />
<meta property="og:type" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="" />

<!-- for Twitter -->
<meta name="twitter:card" content="" />
<meta name="twitter:site" content="">
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" />

<!-- author info -->
<meta name="author" content="Kenneth Lim <limzy.kenneth@gmail.com> (http://designerken.be)" />
<link rel="author" href="http://designerken.be"/>

<!--iOS -->
<meta name="viewport" content="width=device-width, initial-scale=0.95">

<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
